/ Brand and toggle get grouped for better mobile display
.navbar-header
  %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
  %a.navbar-brand{:href => root_path} Check It
/ Collect the nav links, forms, and other content for toggling
#bs-example-navbar-collapse-1.collapse.navbar-collapse
  %ul.nav.navbar-nav
    %li
      %a{:href => "sessions/new"}
        Log-In
        %span.sr-only (current)
    %li
      %a{:href => "/users/new"}
        Create Account
        %span.sr-only (current)
