.text-center
  %h1
    What's Check It?
  %h3
    Glad you asked:
  %p
    Check It is the easiest way around to keep track of all the stuff you friends keep telling you that you need to check out.
  %p
    (See what we did there? Of course you do.)
  %h1
    How's it work?
  %ol
    %li
      Sign up for an account.
      %p
        %i.fa.fa-user-plus.fa-5x.front-page-icons
    %li
      When people give you suggestions, enter them into the app.
      %p
        %i.fa.fa-pencil.fa-5x.front-page-icons
    %li
      Don't worry about it anymore. Go get some coffee with friends.
      %p
        %i.fa.fa-coffee.fa-5x.front-page-icons
    %li
      Next time you're looking for a new movie, book, or band to check out, Check It will have it ready for you, along with links to where you can find them.
      %p
        %i.fa.fa-smile-o.fa-5x.front-page-icons
    %li
      Rinse, lather, repeat.